@use "~/styles/theme";

$icon_size: 1.5em;

.button {
  display: flex;
  gap: 0.15em;
  align-items: center;

  min-width: $icon_size;
}

.icon {
  width: $icon_size;
  height: $icon_size;
}

.description {
  position: relative;

  right: 1em;

  color: theme.color("primary");
  opacity: 0%;

  pointer-events: none;
}

// .onHover class is dynamically attached
.button.onHover .description {
  opacity: 100%;

  right: 0em;
  margin-right: 0 !important;
}
